body {
    margin: 0;
    overflow-y: scroll !important;
    padding-right: 0 !important;
  }
  
  ul {
    font-family: 'Inter';
  }



.test {
  width: 80% !important;
  height: 150px !important
}

.carousel-container {
  position: relative
}

.carousel-overlay {
  position: absolute
}